ENV=LOCAL
IS_SQL_LOGGING=False
LOG_LEVEL=INFO

DB_CONNECTION=postgresql
DB_HOST=app-db
DB_DATABASE=postgres
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_PORT=5432

READ_DB_CONNECTION=postgresql
READ_DB_HOST=app-db
READ_DB_DATABASE=postgres
READ_DB_USERNAME=postgres
READ_DB_PASSWORD=postgres
READ_DB_PORT=5432

MAIL_USERNAME=mail-username
MAIL_PASSWORD=password
MAIL_FROM="no-reply@sample.com"
MAIL_PORT=1025
MAIL_SERVER=mail-server
MAIL_FROM_NAME="FastAPI Application"
FRONTEND_URL=http://localhost:8000

JWT_SECRET_KEY=
JWT_ALGORITHM=
ACCESS_TOKEN_EXPIRE_MINUTES=1440
REFRESH_TOKEN_EXPIRE_MINUTES=43200
RESET_PASSWORD_EXPIRES_MINUTES=60
